.toolsList {
  background-color: rgb(255, 138, 177);
  height: 160px;
  display: flex;
  flex-direction: row;
}

.pencilIcon {
  background-color: rgb(230, 120, 155);
  border-style: solid;
  border-color: black;
  border-width: 5px;
  cursor: pointer;
  width: 160px;
}

.pencilIconImage {
  width: 100%;
}

.main-wrapper {
  background-color: tomato;
  height: calc(100vh - 160px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.emptyRight {
  background-color: rgb(255, 255, 255);
  display: inline-block;
  border-style: solid;
  border-color: rgb(230, 120, 155);
}

.canvas {
  border-style: solid;
  border-color: black;
  display: inline-block;
  cursor: pointer;
  height: 600px;
  width: 600px;
}

.clear {
  background-color: rgb(230, 120, 155);
  border-style: solid;
  border-color: black;
  border-width: 5px;
  cursor: pointer;
}
